@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("/fonts/geist.woff2") format("woff2");
}

@layer base {
  * {
    @apply border-border font-body;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hexagon {
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
}
